title: The Collective Printing Company
thumbnail: /static/images/collectiveco_thumbnail.jpg
date: 09-10-2014
headline: Branding & Collateral Design for a local printing business
role: Branding, Collateral Design

{% extends "project.html" %}
{% block body %}

<div class="inner-container">

{% filter markdown %}

### Project Background

Over the years I have done most of the printing for various projects at a family owned printing company here in the valley.  Andrew, a partner in the business decided to start his own marketing driven printing company and asked me if I would do a logo and business cards for their new business.  His goal was to develop a classic brand that could be relevant both the digital environment as well as in print. 

To establish the classic feel that he was looking for, I focused on the typography of the logo and chose Baskerville as the base for the logo.  After customizing the logo, I added the pattern to make it more memorable after a glance.  The pattern also served as an asset that ties other pieces of their brand together. This project peaked my interest in merging the digital and physical and thinking through creating seamless experiences across these boundaries. 


{% endfilter %}

</div>

<div class="outer-container space-bottom">
  <div class="inner-container"><h3>Brand Applications</h3></div>
  <img src="{% static 'images/collective_collateral.jpg' %}" alt="Collective Print Co">
  <img src="{% static 'images/collective_applications.jpg' %}" alt="Collective Print Co">
</div>

{% endblock body %}
