title: Gina Meola Photography: Collateral Design
thumbnail: /static/images/gm_thumbnail.jpg
date: 30-11-2013
headline: Gina Meola Photography: Collateral Design for a High End Photography Business
role: Collateral Design


{% extends "project.html" %}
{% block body %}

<div class="inner-container">

{% filter markdown %}

### Project Background 

Gina Meola Photography is a high end photography business located in San Fransisco (previously located in Arizona). After rebranding her business and launching a (beautiful) <a href="http://ginameola.com" target="_blank" class="yellow">new website</a> she wanted to work on the analogue experience of her business. While print design is not necessarily my strong suit, the process is incredibly rewarding because you get to see and touch a physical product. 

{% endfilter %}

</div>

<div class="outer-container">
  <div class="inner-container"><h3>Business Cards</h3></div>
  <img src="{% static 'images/gm_bcards.jpg' %}" alt="Gina Meola Business Cards">
</div>
<div class="outer-container space-bottom">
  <div class="inner-container"><h3>Pricing Sheet</h3></div>
  <img src="{% static 'images/gm_pricing.jpg' %}" alt="Gina Meola Pricing Sheet">
</div>

{% endblock body %}
