title: Prosport Management: Branding for an international sports agency.
thumbnail: /static/images/prosport_thumbnail.jpg
headline: Branding for the sports agency that represents Bubba Watson. 
author: Ben Adam
role: Branding, Logo & Business Card Design
date: 24-02-2014

{% extends "project.html" %}
{% block body %}

<div class="inner-container spacer">

{% filter markdown %}
### Project Background 

Prosport Management is a sports agency that represents well known golfers including Bubba Watson (who recently won the Masters), Aaron Badley, and Geoff Ogilvy. Our goal was to create a sophisticated look for their company that was flexible enough for them to expand their business to other sports.

I developed a custom Sans Serif logotype based off of Edmondsans. I used a gray scale for their primary colors, and a green secondary pallet to be used on their website. I also developed brand guidelines, business cards, and letterhead for Prosport in time for the Masters.


{% endfilter %}

</div>

<div class="outer-container spacer">
  <div class="inner-container"> <h3>Logos & Colors</h3></div>
  <img src="{% static 'images/prosport_logocolors.jpg' %}" alt="Brand Applications">
</div>

<div class="outer-container space-bottom">
  <div class="inner-container"><h3>Brand Applications</h3></div>
  <img src="{% static 'images/prosport_applications.jpg' %}" alt="Brand Applications">
</div>

{% endblock body %}
