title: Smartphone Manifesto: Meaningful Engagement in the Digital World
headline: Tips for Meaningful Engagement in the Digital World
author: Ben Adam
date: 13-07-2013

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

### Smart Phone Manifesto
#### Tips for meaningful engagement in the digital world

I recently got an iphone after spending the last 7 months with a flip phone.

I had the conviction that me owning a smart phone was doing more damage to my life, than good. (And at the time this was probably true). Over the last few months I have been reflecting on this idea a lot, and here are some of my thoughts:

#### Smart Phone Manifesto:

In a lot of ways, I would compare the technological revolution to the sexual revolution of the 1960’s. When the sexual revolution happened, there was an excitement about the endless benefits of sexual liberation, but there was a blindness to its consequences.

In the same way, today we have uninhibited access to information and entertainment. In a lot of ways we have no idea what the consequences of this constant distraction.

### Here are some of the consequences that I see so far:

Broken relational dynamic (people on social media while missing real opportunities for interaction) We’ve all experienced that moment of silence where everyone at the table has their smart phone in front of their face and they are all simultaneously checking social media.
Stifled creativity. So much of our creativity is borne out of the fires of boredom and angst. When we have constant access to entertainment, we have little time for reflection. This leads to a lack of creativity and positive contributions to personal growth.
Dangerous amounts of personal data given to companies
I could go on but I will stop there
But here is the reality: Smart phones are not going to go away. In fact they are going to be the only option that we have in a few years.

So instead of asking the question should we or should we not use use smartphones/ social media, I think we need to be asking the question: how can we be using these tools to make our lives better, and the lives of the people around us better.

### Here are some ideas I came up with:

#### Things I want to do with my smart phone:

I want to journal & do daily reflections on the go (light rail)
I want to use my smart phone to take pictures
I want to use my smart phone to help me maximize my schedule
I want to use my smart phone to Google hangout & iMessage my family regularly
I want to be making contact with each member of my family at least 1x per week
I will use my phone to manage projects with Freelancers I will use my phone to encourage and build community with Guys in my RC I will use my phone to get directions and not get lost I will portray my life realistically on social media (I don’t want to tell lies with photos) I will take a technology Sabbath one day a week (no computer, no phone, no TV).

### Things that I will not do with my smart phone:

Check social media when hanging out with a group of people
Constantly be on my phone
Be on my phone in my bedroom
Feel like I am not really experiencing a moment unless I am taking a picture
Check my email incessantly (turn off push notifications for email (and badges)
I will not resort to taking out my phone when I am bored (especially with people).
I will not have push notifications and badges that will interrupt me
I will not be a slave to my phone
I will not look at porn on my phone
I will not consume media mindlessly on my phone
I will not text while driving or drive distracted
This is probably just the beginning of the ways that we could use our smartphones better. What are your ideas?

{% endfilter %}
{% endblock body %}
