// Globals
html {
  font-size:62.5%;
  font-family:$serif;
  color:$black;
  -webkit-font-smoothing:antialiased;
}


body {
  border: 8px solid $black;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6, li {
  font-weight:bold;
  margin:0;
}

h3,h4 {
  font-family:$sans-serif;
  font-weight:700;
}

h1 {
  font-size:3em;
  line-height:1.5em;
  margin-bottom:1em;
}

h2, blockquote {
  font-size:2.25em;
  line-height:1.5em;
  margin-bottom:1.5em;
}

h3 {
  font-size:2em;
  line-height:1em;
  margin-bottom:1.5em;
}

h4 {
  font-size:1.35em;
  line-height:1em;
  margin-bottom:1.25em;
  color:$yellow;
  text-transform:uppercase;
}

h5, li.list-item {
  font-size:1.5em;
  line-height:1em;

}

ol {
  font-size:1.5em;

  li {
    margin-bottom:1.5em;
    padding-bottom:1em;
  }
}

li {
  // font-size:1.5em;
  margin-bottom:1.5em;
  padding-bottom:2em;
}

p {
  font-size:1.5em;
  line-height:2em;
  margin-bottom:1.5em;
}

blockquote {
  text-align:center;
  margin:0;
  margin-bottom:2em;
  padding:1em;

  p {
    font-size:1.25em;
    line-height:1.5em;
    margin-bottom:.5em;
  }

  &:before,
  &:after {
    content:"";
    display:inline-block;
    text-align:center;
    width:100px;
  }

  &:before { border-top:1px solid $yellow; }

  &:after { border-bottom:1px solid $yellow; }
}


img {
  display:block;
  width:100%;
  height:auto;
  margin-bottom:2em;
  background-color:$light-grey;
}

.thumbnail{
  margin-bottom:3em;

  &:hover{ opacity:.7; }
}

//Links and Buttons

a {
  color: $black;
  text-decoration:none;
  margin-bottom:1.25em;

  &:hover{ opacity: .4; }


  &:hover .arrow-right{
    transform: translateX(5px);
    transition: all .25s ease;
    display:inline-block;
  }
  &:hover .arrow-left{
    transform: translateX(-5px);
    transition: all .25s ease;
    display:inline-block;
  }

}

.cta-button {
  border-radius: 5px;
  border:1px solid $yellow;
  padding:1em 1.5em;
  display:inline-block;
  font-size:1.5em;
  font-style: italic;
  margin:0 1em;
  margin-bottom:1em;
  min-width:10em;
  transition: all .25s ease;

  &:hover{
    transform: scale(1.025);
    transition : all .25s ease;
  }

}

.read-more{
  font-style:italic;
  font-size:1.5em;
  margin-bottom:2em;
}

.arrow-right, .arrow-left {
  display:inline-block;
  transition: all .25s ease ;
}

.arrow-right{
  padding-left:10px;
}
.arrow-left{
  padding-right:10px;
}
