nav { 
  padding-top:4em;
  padding-bottom:4em;
}

.nav-right{
  padding-top:1.5em;
  float:right;
  display:inline-block;
  vertical-align:middle;
  // @include clearfix;
  @include media(min-width 320px max-width 480px) { display:none; }
}

.list-item{
  float:left;
  margin-left:2em;
  list-style:none;

  a { 
    font-size:1em;
    color:$black;
 }

  a:hover{
    border-bottom:2px solid $yellow;
  }
}

.site-logo{
  
  svg {
    width:60px;
    height:60px;;
    display:inline-block;
    vertical-align:middle;
    overflow:visible;
  }

  #logo-stroke{
    @include transform(rotate(0deg));
    @include transition (transform .5s ease-in-out);
    @include transform-origin(center center);
  }

  &:hover #BA { fill:$yellow; }

  &:hover #logo-stroke { 
    @include transform(rotate(-90deg));
    @include transform-origin(center center);
    @include transition (transform .5s ease-in-out);
   }

}


.social-icon { 
  display:none;
  
  a:hover { 
    color: $yellow;
    border-bottom: 0px;
  }
}

// Mobile Styles

.mobile-nav {
  display:none;
  float:right;
  @include media(min-width 320px max-width 480px) { display:inline-block; }
}

.dropdown-menu {
  display: none;
  text-align: left;

  li{
    list-style: none;
    font-size:1.5em;
    margin-bottom:.5em;
    padding-left:10px;
  }
}

.navigation-target { display: none; }

.mobile-menu-toggle{ float: right; }

.navigation-toggle {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top:1em;
}

.navigation-toggle-label {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: $black;
  text-align: center;
  display: block;
  position: relative;
  text-transform:uppercase;
  left: -60px;
  bottom:15px;
}

.navigation-toggle-icon {
  border-bottom: 6px solid $black;
  padding-top: 17px;
  display: block;
}

.navigation-toggle-icon:before,
.navigation-toggle-icon:after {
  border-top: 6px solid $black;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.navigation-toggle-icon:before {
  top: 4px;
}

.navigation-toggle-icon:after {
  bottom: 4px;
}

/*
 * This is where all the animation happens
 */
.navigation-toggle-icon,
.navigation-toggle-icon:before,
.navigation-toggle-icon:after {
  @include transition-property(transform, border-color);
  @include transition-duration(0.25s);
  @include transition-timing-function(cubic-bezier(0.5, -0.5, 0.5, 1.5));
}

.navigation-toggle-icon {
  @include transition-delay(0.125s);
}

.navigation-toggle-icon:before,
.navigation-toggle-icon:after {
  @include transition-delay(0s);
  @include transform-origin(center);
}

.navigation-target.clicked + .navigation-toggle {
  .navigation-toggle-icon {
    @include transition-delay(0s);
  }
  
  .navigation-toggle-icon:before,
  .navigation-toggle-icon:after {
    @include transition-delay(.125s);
  }
  
  .navigation-toggle-icon:before {
    @include transform(translateY(13px) rotate(135deg));
  }
  
  .navigation-toggle-icon {
    border-color: transparent;
  }
  
  .navigation-toggle-icon:after {
    @include transform(translateY(-13px) rotate(-135deg));
  }
}