<!-- Header -->
<header>
  <div class="outer-container">
    <nav class='nav-container'>
      <a class="site-logo transition-link" href="/">
       <span class='logo-text'>BA</span>
      </a>
      <ul class="nav-right">
        <li class="list-item"><a class="transition-link" href="/">Home</a></li>
        <li class="list-item"><a class="transition-link" href="/blog.html">Blog</a></li>
        <li class="list-item"><a class="transition-link" href="/project-list.html">Projects</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header -->